@media (max-width: 1024px) {
  header {
    height: 80px;
    top: 40px;
  }
}

@media (max-width: 375px) {
  header {
    max-width: 375px;
    left: 49%;
  }
}

@media (max-width: 1024px) {
  header .header-in {
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  header .header-in .logo-wrap {
    width: 210px;
  }
}

@media (max-width: 375px) {
  header .header-in .logo-wrap {
    margin-left: 10px;
    width: 160px;
  }
}

@media (max-width: 1024px) {
  header .header-in .logo-wrap .header-logo {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 375px) {
  header .header-in .logo-wrap .header-logo {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1024px) {
  header .header-in .logo-wrap a {
    margin-left: 5%;
    width: 160px;
  }
}

@media (max-width: 375px) {
  header .header-in .logo-wrap a {
    width: 120px;
  }
}

@media (max-width: 1024px) {
  header .header-in .logo-wrap a .heading {
    margin-left: 0;
    font-size: 20px;
    width: 160px;
  }
}

@media (max-width: 375px) {
  header .header-in .logo-wrap a .heading {
    width: 120px;
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  header .header-in .header-nav {
    width: 26vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  header .header-in .header-nav {
    display: none;
  }
}

@media (max-width: 1024px) {
  header .header-in .header-nav-item02, header .header-in .header-nav-item03 {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  header .header-in .hamburger {
    display: block;
    right: 40px;
  }
}

@media (max-width: 375px) {
  header .header-in .hamburger {
    font-size: 20px;
    right: 20px;
  }
}

@media (max-width: 1024px) {
  header .header-in .contact-nav {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  header .header-in .contact-nav {
    display: none;
  }
}

@media (max-width: 375px) {
  header .hamburger-menu .hamburger-wrapper {
    height: 120px;
  }
}

@media (max-width: 375px) {
  header .hamburger-menu .hamburger-wrapper-item01, header .hamburger-menu .hamburger-wrapper-item02, header .hamburger-menu .hamburger-wrapper-item03 {
    padding: 10px;
  }
}

header .hamburger-menu .hamburger-wrapper-item02 {
  margin: 0 30px;
}

@media (max-width: 1024px) {
  .mv-in {
    width: 100vw;
    height: 700px;
    padding-top: 160px;
  }
}

@media (max-width: 768px) {
  .mv-in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .mv-in .bgCircle {
    width: 50vw;
    left: 50vw;
    top: -80px;
  }
}

@media (max-width: 768px) {
  .mv-in .bgCircle {
    left: 30vw;
    width: 70vw;
    top: 0;
  }
}

@media (max-width: 1024px) {
  .mv-in .mv-contents {
    margin-left: 9vw;
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .mv-in .mv-contents {
    width: 100%;
    margin-left: 3vw;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .mv-in .mv-contents .section-ttl {
    width: 100%;
    font-size: 1.6em;
  }
}

@media (max-width: 768px) {
  .mv-in .mv-contents .section-ttl {
    width: 94%;
    height: 100px;
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .mv-in .mv-contents .section-ttl .br-tb01, .mv-in .mv-contents .section-ttl .br-tb02 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .mv-in .mv-contents .section-txt {
    margin-top: 4vh;
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  .mv-in .mv-contents .section-txt {
    width: 94%;
    height: 70px;
    margin-top: 0;
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .mv-in .mv-contents .section-txt {
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  .mv-in .mv-contents .section-txt .br-tb03, .mv-in .mv-contents .section-txt .br-pc02 {
    display: none;
  }
}

@media (max-width: 375px) {
  .mv-in .mv-contents .section-txt .br-pc01 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .mv-in .mv-contents .contact-nav {
    margin-top: 4vh;
  }
}

@media (max-width: 768px) {
  .mv-in .mv-contents .contact-nav {
    margin-top: 2vh;
    height: auto;
    width: 94%;
  }
}

@media (max-width: 375px) {
  .mv-in .mv-contents .contact-nav {
    margin-top: 6vh;
  }
}

@media (max-width: 1024px) {
  .mv-in .mv-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 2vw;
    width: 40vw;
    min-width: 400px;
    height: 330px;
  }
}

@media (max-width: 768px) {
  .mv-in .mv-img {
    min-width: 330px;
    height: auto;
  }
}

@media (max-width: 375px) {
  .mv-in .mv-img {
    margin-top: 6vh;
  }
}

@media (max-width: 1024px) {
  .mv-in .mv-img .manager {
    min-width: 400px;
    height: 330px;
  }
}

@media (max-width: 768px) {
  .mv-in .mv-img .manager {
    min-width: 330px;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .feature-in {
    padding-top: 51px;
    padding-bottom: 101px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .feature-in {
    padding-top: 36px;
    padding-bottom: 40px;
  }
}

@media (max-width: 1024px) {
  .feature-in .section-ttl {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .feature-in .section-ttl {
    font-size: 22px;
  }
}

@media (max-width: 375px) {
  .feature-in .section-ttl {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .feature-in .eng-ttl {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .feature-in .eng-ttl {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-01-ttl {
    font-size: 24px;
    margin-top: 41px;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-01-ttl {
    font-size: 20px;
    margin-top: 34px;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-01 .feature-item {
    margin-top: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-01 .feature-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 28px;
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-01 .feature-item-img {
    width: 300px;
    height: auto;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-01 .feature-item-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 200px;
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation {
    margin-left: 0;
    width: 46vw;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 96%;
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-ttl {
    height: auto;
    line-height: 1.8;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-ttl {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-ttl {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-ttl .br-lptp01 {
    display: block;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-ttl .br-lptp01 {
    display: none;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-ttl .br-tb04 {
    display: none;
  }
}

@media (max-width: 375px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-ttl .br-tb04 {
    display: block;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-ttl br {
    display: none;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-txt {
    margin-top: 24px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-txt {
    width: 100%;
    margin-top: 0;
    font-size: 13px;
    height: auto;
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-txt {
    width: 100%;
    height: auto;
    font-size: 13px;
    line-height: 1.8;
    margin-top: 40px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-txt .br-pc03, .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-txt .br-pc04, .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-txt .br-pc05 {
    display: none;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-01 .feature-item .feature-explanation .explanation-txt br {
    display: none;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-02-ttl {
    font-size: 24px;
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-02-ttl {
    font-size: 20px;
    margin-top: 60px;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-02 .feature-item {
    margin-top: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-02 .feature-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-02 .feature-item .feature-explanation {
    margin-left: 0;
    width: 46vw;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-02 .feature-item .feature-explanation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 96vw;
  }
}

@media (max-width: 375px) {
  .feature-in .feature-contents-02 .feature-item .feature-explanation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-02 .feature-item .feature-explanation .explanation-ttl {
    height: auto;
    line-height: 1.8;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-02 .feature-item .feature-explanation .explanation-ttl {
    width: 100%;
    font-size: 18px;
    margin-top: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .feature-in .feature-contents-02 .feature-item .feature-explanation .explanation-ttl {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-02 .feature-item .feature-explanation .explanation-ttl .br-pc06, .feature-in .feature-contents-02 .feature-item .feature-explanation .explanation-ttl .br-pc07 {
    display: none;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-02 .feature-item .feature-explanation .explanation-txt {
    font-size: 13px;
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .feature-in .feature-contents-02 .feature-item .feature-explanation .explanation-txt {
    font-size: 12px;
    line-height: 1.8;
    margin-left: 0;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-02 .feature-item .feature-explanation .explanation-txt .br-pc08, .feature-in .feature-contents-02 .feature-item .feature-explanation .explanation-txt .br-pc09 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-02 .feature-item-img {
    width: 300px;
    height: auto;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-02 .feature-item-img {
    width: 260px;
    margin-top: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-03-ttl {
    font-size: 24px;
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-03-ttl {
    font-size: 20px;
    margin-top: 60px;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-03 .feature-item {
    padding-left: 30px;
    margin-top: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-03 .feature-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 28px;
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-03 .feature-item-img {
    width: 300px;
    height: auto;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-03 .feature-item-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 200px;
    margin-top: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-03 .feature-item .feature-explanation {
    margin-left: 0;
    width: 46vw;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-03 .feature-item .feature-explanation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 96%;
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  .feature-in .feature-contents-03 .feature-item .feature-explanation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-03 .feature-item .feature-explanation .explanation-ttl {
    height: auto;
    line-height: 1.8;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-03 .feature-item .feature-explanation .explanation-ttl {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .feature-in .feature-contents-03 .feature-item .feature-explanation .explanation-ttl {
    font-size: 16px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-03 .feature-item .feature-explanation .explanation-ttl .br-pc11, .feature-in .feature-contents-03 .feature-item .feature-explanation .explanation-ttl .br-pc12 {
    display: none;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-03 .feature-item .feature-explanation .explanation-ttl br {
    display: none;
  }
}

@media (max-width: 1024px) {
  .feature-in .feature-contents-03 .feature-item .feature-explanation .explanation-txt {
    margin-top: 24px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-03 .feature-item .feature-explanation .explanation-txt {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-left: 0;
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .feature-in .feature-contents-03 .feature-item .feature-explanation .explanation-txt {
    line-height: 1.8;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-03 .feature-item .feature-explanation .explanation-txt .br-pc13, .feature-in .feature-contents-03 .feature-item .feature-explanation .explanation-txt .br-pc14, .feature-in .feature-contents-03 .feature-item .feature-explanation .explanation-txt .br-pc15 {
    display: none;
  }
}

@media (max-width: 768px) {
  .feature-in .feature-contents-03 .feature-item .feature-explanation .explanation-txt br {
    display: none;
  }
}

@media (max-width: 1024px) {
  .price-in {
    padding-top: 51px;
    padding-bottom: 81px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .price-in {
    padding-top: 36px;
    padding-bottom: 50px;
  }
}

@media (max-width: 375px) {
  .price-in {
    padding-top: 26px;
    padding-bottom: 40px;
  }
}

@media (max-width: 1024px) {
  .price-in .section-ttl {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .price-in .section-ttl {
    font-size: 22px;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .price-in .eng-ttl {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .price-in .eng-ttl {
    text-align: center;
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .price-in table {
    width: 80%;
    height: 340px;
  }
}

@media (max-width: 768px) {
  .price-in table {
    width: 90%;
    margin-top: 50px;
  }
}

@media (max-width: 375px) {
  .price-in table {
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  .price-in table tr .td-ttl {
    line-height: 1.3;
  }
}

@media (max-width: 768px) {
  .price-in table tr .td-ttl {
    width: 35%;
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .price-in table tr .td-ttl .br-lptp02 {
    display: block;
  }
}

@media (max-width: 768px) {
  .price-in table tr .td-price {
    width: 65%;
  }
}

@media (max-width: 1024px) {
  .price-in .comment {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .faq-in {
    padding-top: 51px;
    padding-bottom: 61px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .faq-in {
    padding-top: 36px;
    padding-bottom: 50px;
  }
}

@media (max-width: 375px) {
  .faq-in {
    padding-top: 26px;
    padding-bottom: 34px;
  }
}

@media (max-width: 1024px) {
  .faq-in .section-ttl {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .faq-in .section-ttl {
    font-size: 22px;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .faq-in .eng-ttl {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .faq-in .eng-ttl {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .faq-in .faq-contents {
    margin-top: 60px;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .faq-in .faq-contents {
    margin-top: 40px;
    width: 90%;
  }
}

@media (max-width: 375px) {
  .faq-in .faq-contents {
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  .faq-in .faq-contents-item01 .question {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .faq-in .faq-contents-item01 .answer {
    height: auto;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .faq-in .faq-contents-item01 .answer {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .faq-in .faq-contents-item01 .answer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .faq-in .faq-contents-item02 .question {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .faq-in .faq-contents-item02 .question {
    font-size: 13px;
    line-height: 1.8;
    padding-top: 6px;
  }
}

@media (max-width: 375px) {
  .faq-in .faq-contents-item02 .question .br-sp01 {
    display: block;
  }
}

@media (max-width: 1024px) {
  .faq-in .faq-contents-item02 .answer {
    height: auto;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .faq-in .faq-contents-item02 .answer {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .faq-in .faq-contents-item02 .answer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .faq-in .faq-contents-item03 .question {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .faq-in .faq-contents-item03 .answer {
    height: auto;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .faq-in .faq-contents-item03 .answer {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .faq-in .faq-contents-item03 .answer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 1024px) {
  .faq-in .faq-contents-item03 .answer .br-pc17 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .blog-in {
    padding-top: 51px;
    padding-bottom: 61px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .blog-in {
    padding-top: 36px;
    padding-bottom: 50px;
  }
}

@media (max-width: 375px) {
  .blog-in {
    padding-top: 26px;
    padding-bottom: 34px;
  }
}

@media (max-width: 1024px) {
  .blog-in .section-ttl {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .blog-in .section-ttl {
    font-size: 22px;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .blog-in .eng-ttl {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .blog-in .eng-ttl {
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents {
    margin: 0 auto;
    margin-top: 60px;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .blog-in .blog-contents {
    width: 358px;
    height: auto;
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents-item01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    height: 240px;
  }
}

@media (max-width: 768px) {
  .blog-in .blog-contents-item01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 360px;
    max-width: 358px;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents-item01 .blog-image {
    max-width: 358px;
    height: 240px;
  }
}

@media (max-width: 768px) {
  .blog-in .blog-contents-item01 .blog-image {
    width: 358px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents-item01 .blog-ttl {
    font-size: 20px;
    max-width: 400px;
    margin-top: 80px;
  }
}

@media (max-width: 768px) {
  .blog-in .blog-contents-item01 .blog-ttl {
    width: 90%;
    height: auto;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents-item01 .date {
    bottom: 40px;
  }
}

@media (max-width: 768px) {
  .blog-in .blog-contents-item01 .date {
    bottom: 15px;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents-item02 {
    margin: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    height: 240px;
  }
}

@media (max-width: 768px) {
  .blog-in .blog-contents-item02 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 380px;
    max-width: 358px;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents-item02 .blog-image {
    max-width: 358px;
    height: 240px;
  }
}

@media (max-width: 768px) {
  .blog-in .blog-contents-item02 .blog-image {
    width: 358px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents-item02 .blog-ttl {
    font-size: clamp(18px, 1.6vw, 24px);
    max-width: 100%;
    margin-top: 40px;
    height: 120px;
  }
}

@media (max-width: 768px) {
  .blog-in .blog-contents-item02 .blog-ttl {
    width: 90%;
    height: auto;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents-item02 .blog-ttl .br-pc18, .blog-in .blog-contents-item02 .blog-ttl .br-pc19 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents-item02 .date {
    bottom: 40px;
  }
}

@media (max-width: 768px) {
  .blog-in .blog-contents-item02 .date {
    bottom: 15px;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents-item03 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    height: 240px;
  }
}

@media (max-width: 768px) {
  .blog-in .blog-contents-item03 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 360px;
    max-width: 358px;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents-item03 .blog-image {
    max-width: 358px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .blog-in .blog-contents-item03 .blog-image {
    width: 358px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents-item03 .blog-ttl {
    font-size: 20px;
    max-width: 400px;
    margin-top: 80px;
    font-size: clamp(17px, 1.8vw, 24px);
  }
}

@media (max-width: 768px) {
  .blog-in .blog-contents-item03 .blog-ttl {
    width: 90%;
    height: auto;
    margin-top: 60px;
  }
}

@media (max-width: 1024px) {
  .blog-in .blog-contents-item03 .date {
    bottom: 40px;
  }
}

@media (max-width: 768px) {
  .blog-in .blog-contents-item03 .date {
    bottom: 15px;
  }
}

@media (max-width: 1024px) {
  .works-in {
    padding-top: 51px;
    padding-bottom: 61px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .works-in {
    padding-top: 36px;
    padding-bottom: 50px;
  }
}

@media (max-width: 1024px) {
  .works-in .section-ttl {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .works-in .section-ttl {
    font-size: 22px;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .works-in .eng-ttl {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .works-in .eng-ttl {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .works-in .swiper-container {
    margin-top: 61px;
  }
}

@media (max-width: 768px) {
  .works-in .swiper-container {
    margin-top: 40px;
  }
}

@media (max-width: 375px) {
  .works-in .swiper-container {
    margin-top: 24px;
  }
}

@media (max-width: 1024px) {
  .works-in .swiper-container .swiper-wrapper .swiper-slide .work-txt01 {
    margin-top: 40px;
  }
}

@media (max-width: 375px) {
  .works-in .swiper-container .swiper-wrapper .swiper-slide .work-txt01 {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .works-in .swiper-container .swiper-wrapper .swiper-slide .work-txt02 {
    margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  .works-in .swiper-container .swiper-wrapper .swiper-slide .work-txt03 {
    margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  .works-in .swiper-container .swiper-wrapper .swiper-slide .work-txt04 {
    margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  .contact-in {
    padding-top: 51px;
    padding-bottom: 61px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .contact-in {
    padding-top: 36px;
    padding-bottom: 61px;
  }
}

@media (max-width: 1024px) {
  .contact-in .section-ttl {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .contact-in .section-ttl {
    font-size: 22px;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .contact-in .eng-ttl {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .contact-in .eng-ttl {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .contact-in .sub-ttl {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .contact-in .sub-ttl {
    font-size: 13px;
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  .contact-in .contact-form {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .contact-in .contact-form {
    margin-top: 30px;
    width: 90%;
  }
}

@media (max-width: 375px) {
  .contact-in .contact-form {
    padding: 20px;
  }
}

@media (max-width: 1024px) {
  .contact-in .contact-form .your-name {
    margin-top: 26px;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .contact-in .contact-form .your-name {
    margin-top: 18px;
  }
}

@media (max-width: 375px) {
  .contact-in .contact-form .your-name {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .contact-in .contact-form .your-email {
    margin-top: 26px;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .contact-in .contact-form .your-email {
    margin-top: 18px;
  }
}

@media (max-width: 375px) {
  .contact-in .contact-form .your-email {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .contact-in .contact-form .contents-item {
    margin-top: 26px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contact-in .contact-form .contents-item {
    margin-top: 18px;
  }
}

@media (max-width: 1024px) {
  footer .footer-in {
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
  }
}

@media (max-width: 768px) {
  footer .footer-in {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 375px) {
  footer .footer-in {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  footer .footer-in .top-page {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  footer .footer-in .top-page {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  footer .footer-in .instructions {
    margin-top: 14px;
  }
}

@media (max-width: 375px) {
  footer .footer-in .instructions {
    margin-top: 8px;
  }
}

@media (max-width: 1024px) {
  footer .footer-in .instructions-item01, footer .footer-in .instructions-item02 {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  footer .footer-in .instructions-item01, footer .footer-in .instructions-item02 {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  footer .footer-in .all-right {
    font-size: 13px;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  footer .footer-in .all-right {
    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  footer .footer-in .all-right {
    margin-top: 8px;
  }
}
/*# sourceMappingURL=responsive.css.map */